@{
    ViewData["Title"] = "Movie Added";
}

@model Mission06_clhwang.Models.ApplicationResponse

<!--The page that the user is led to when their new movie has been successfully added-->

<h2>@Model.Title has been added. </h2>
