@{
    ViewData["Title"] = "Movies!";
}

<h1>Enter Movies!</h1>

<div>
    <p>Learn all about other people's favorite movies!</p>
</div>

<img src="~/img/JoelHiltonHeadshot.jpg" />

<br />

<div>
    <a asp-controller="Home" asp-action="MovieApplication">Enter a New Movie into the Database</a>
</div>