@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<!--Adding a title-->
<h1>The Joel Hilton Film Collection</h1>

<div>
    <p>Learn all about other Joel's favorite movies and what he thinks about them!</p>
</div>

<!--Image Insert-->
<img src="~/img/JoelHiltonHeadshot.jpg" />

<br />

<!--Option to click this link and be lead to the Movie Database Page-->
<div>
    <a asp-controller="Home" asp-action="MovieApplication">Enter a New Movie into the Database</a>
</div>