@{
    ViewData["Title"] = "Podcast";
}

<h1>Welcome to the Podcast Page!</h1>

<div>
    <h4>Click <a href="https://baconsale.com/">here </a>if you want to hear all about bacon and more!</h4>
</div>
