@{
    ViewData["Title"] = "Podcast";
}

<!--Title Inserted-->
<h1>Welcome to the Podcast Page!</h1>

<!--Link to the bacon site-->
<div>
    <h4>Click <a href="https://baconsale.com/">here </a>if you want to hear all about bacon and more!</h4>
</div>
