<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Allows me to change my title easier on each page-->
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <ul>
        <!--This is my nav bar-->
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-controller="Home" asp-action="Podcast">Podcast</a></li>
        <li><a asp-controller="Home" asp-action="MovieApplication">Add A Movie</a></li>
    </ul>
    <div>
        @RenderBody()
    </div>
</body>
</html>
